[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
scikit-learn = "*"
keras = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.11"
